@import './../../../assets/styles/global.scss';

.paperOverflow {
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #ffffff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}