$orange: #FA8C45;
$red: #fa5845;
$brown-light: #af3e30;
$brown-dark: #af6a30;

$green-light: #8bfa45;
$green-dark: #61af30;
$purple: #8a45fa;

$peachy-light: #ffe6d1;
$peachy-dark: #ffcda3;

.unstyledButton {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;

    &:hover {}
}

.truncate {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
}

.elipsis_1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.elipsis div {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobileElement {
    display: none;

    @media (max-width:600px) {
        display: block;
    }
}